@charset "UTF-8";
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: 'Roboto Serif', serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */

  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.header{
    width: 100%;
    min-width: 5em;
    background-color: lightblue;
    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    display:none;
}

.header h1{

}

.header .h1 a{
}

.header .nav{
}

.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

.header .li{
    margin:0 1em;
}

header .li .a{

}

.main{
    background: lightgrey;
    margin:0 0 1em 0;
    text-align: center;
}

.seccion{
    width: 100%;
    min-height:80vh;
   /*margin:1em 0;*/
    text-align: center;
    background: lightblue;
    padding: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.seccion .ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin:2em 0 0;

}

.seccion .ul .li{
    margin:0 1em;
}

.seccion .ul .a{
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0,.2);
  padding: 2em 0 1em;
  transform: all .5s ease;
}

.seccion .ul .a:hover{
  border-color: black;
}

.seccion .h2{
  font-family: var(--tipo-principal);
  font-size:5em;
}

.seccion .h3{
  font-family: var(--tipo-principal);
  font-size: 3em;
  font-style: italic;
}

.seccion .p{}

.seccion .grid{
    width: 90%;
    max-width: 40em;
    margin:1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
    gap:1em;
}

.seccion .article{
    width: 100%;
    min-height: 20vh;
    background:lightgoldenrodyellow;

    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.seccion .a{}
.seccion .figure{
    width: 100%;
    background: pink;
}

.seccion .img{
    width: 100%;
    background:lightpink;

}

.seccion .h4{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
    left:0;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: var(--tipo-principal);
    font-style: italic;
    transform: translateZ(1) scale(1.2);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s ease;
}

.seccion .article:hover .h4{
  transform: translateZ(1) scale(1);
  opacity: 1;
}

.works .h2{
  margin-bottom: 0 0 1rem;

}

.about{}

.about .h2{
    margin: 0 0 1rem;
}

.about .p{
    max-width: 40rem;
    margin: 0 0 2rem;
    text-align: left;
    font-size: 1.5em;
}

.about .rrss{
    width:100% ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.about .li{
    margin:0 1em;
}

.about .a{}

.about .svg{
    width: 2em;
    height: 2em;
}

.footer{
    padding: 2em 0;
    text-align: center;
}

.footer .span{

}